.nav_top{
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: bold;
}
.main_content{
    display: flex;
    justify-content: center;
}
.message_container{
    /* position:relative; */
    width: 80%;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow-y: hidden;
    overflow: hidden;
}
.chat{
    overflow-y: scroll;
   padding:10px 30px;
    height: 100%;
    
}
.write_message_box{
    padding: 20px 20px;
    margin-bottom: 0px;
    margin-top: auto;
    background-color: rgb(212, 211, 213);
}

.send_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.send_box >div{
    margin-bottom: 0 !important;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.buttons > div{
    margin-bottom: 0 !important;
}
.client_message{
    width: fit-content;
    max-width: 300px;
}
.client_message >div{
    width: fit-content;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: rgb(204, 211, 216);

}
.your_message >div{
    width: fit-content;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: rgb(160, 185, 235);
}
.your_message >*{
    margin-left: auto; 
  margin-right: 0;
}
.your_message >span{
    width: fit-content;
    position: relative;
    float: right;
}
.your_message{
    margin-bottom: 20px;
    max-width: 300px;
    padding: 10px 15px;
    border-radius: 20px;
    width: fit-content;
    margin-right: 0px;
    margin-left: auto;
}

@media (max-width: 768px) {
    .message_container{
        width: 100%;
    }
  }
