.tabWrapper {
    display: flex;
  }
  
  .tab {
    font-size: 16px;
    /* padding: 0 0px !important; */
    padding: 5px 10px;
    margin: 0 4px;
    border-radius: 6px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.672);
    position: relative;
    background-color: rgba(128, 128, 128, 0.101);
  }
  
  .bgColor {
    background: linear-gradient(
      118deg,
      #7367f0,
      rgba(115, 103, 240, 0.7)
    ) !important;
    color: white !important;
  }
  
  .container {
    margin-top: 10px;
    background-color: white;
    height: fit-content;
    padding: 10px;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
  }
  
  .tabcontain {
    padding: 20px;
    height: 60vh;
    overflow-y: scroll;
  }
  
  