.category_list_heading > h4 {
  font-weight: 500;
  margin: 0;
}
.category_list_heading {
  margin-bottom: 20px;
}
.category_list_design {
  display: grid;
  grid-template-columns: 90px 1fr 90px 90px;
}
