.container {
  margin-top: 10px;
}
.search_inputs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.search_inputs > * {
  margin: 0 5px;
}
.price_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-top: 8px;
}
.price_container > div {
  margin-bottom: 0 !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.search_btn {
  margin-top: 25px;
}
.filter_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.filter_container_close {
  display: none;
}
.remaining_search_fields {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
