.container {
  background-color: white;
  width: 46%;
  box-shadow: var(--box-shadow);
  height: 150px;
  border-radius: 4px;
}

@media (max-width: 780px) {
  .container {
    height: 120px;
    width: 42%;
  }
}
@media (max-width: 780px) {
  .container {
    height: 120px;
    width: 42%;
  }
}
