.options_container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  height: calc(100vh - 280px);
  padding: 10px;
}
.options_header {
  text-align: right;
}
.options_buttons > * {
  margin: 5px;
}
.option_item {
  padding: 10px;
  background-color: var(--theme-page-background);
  margin: 2px 0;
  cursor: pointer;
  border-radius: var(--border-radius);
}
.option_item:hover {
  background-color: var(--primary-color-light);
}
.options_body {
  flex-grow: 1;
  position: relative;
  overflow-y: scroll;
  padding: 10px;
}
.no_data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
