.options_container{
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  min-height: calc(100vh - 280px);
  padding: 10px;
}
.options_header{
  text-align: right;
}
.options_buttons > *{
  margin: 5px;
}
.option_item{
  padding: 5px;
  background-color: var(--theme-page-background);
  margin: 2px 0;
  cursor: pointer;

}
.option_item:hover{
background-color: var(--primary-color-light);
}
.options_body{
  height: 50vh;
  overflow-y: scroll;
}