.ant-form-item-required::before{
    display: none !important;
}
.login_container{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}