.transaction_item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.transaction_header > div > h4 {
  margin: 0;
  font-weight: 500;
  margin-bottom: 10px;
}
.transaction_header > div {
  float: left;
}
