.container {
  background-color: var(--theme-page-background-sub);
  /* width: 100%; */
  height: 55px;
  box-shadow: var(--box-shadow);
  /* position: fixed;
  top: 75px;
  left: 0; */
  /* padding: 2px 4px; */
  display: flex;
  align-items: center;
  /* padding: 0 3px !important; */
  border-radius: 5px;
  /* margin-bottom: 30px; */
  overflow: visible !important;

  /* margin-left: 6px; */
}

@media (max-width: 780px) {
  .container {
    display: none;
  }
}

.bgColor {
  background: linear-gradient(
    118deg,
    #7367f0,
    rgba(115, 103, 240, 0.7)
  ) !important;
  color: white !important;
}

.button {
  font-size: 16px;
  /* padding: 0 0px !important; */
  padding: 5px 10px;
  margin: 0 4px;
  border-radius: 6px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.672);
  position: relative;
}

.icons {
  transform: translateY(3px);
  transition: 0.3s all ease-in-out;
}

.dropdown {
  position: absolute;
  left: 0;
  top: 105%;
  height: fit-content;
  width: 200px;
  background-color: white;
  z-index: 10;
  display: none;
  flex-direction: column;
  padding: 5px 0;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button:hover .dropdown {
  display: flex;
}

.dropdownItems {
  padding: 2px 10px;
  /* text-align: center; */
  font-size: 15px;
  color: rgba(0, 0, 0, 0.483);
}

.dropdownItems:hover {
  background-color: rgba(128, 128, 128, 0.113);
  color: rgba(115, 103, 240, 0.7);
  transform: translateX(2px);
  transition: all 0.1s;
}
.activeDropdown {
  background-color: rgba(128, 128, 128, 0.113);
  color: rgba(115, 103, 240, 0.7) !important;
}

@media (max-width: 992px) {
  .button {
    font-size: 11px !important;
  }
}

.button:hover .icons {
  transform: rotate(180deg) translateY(-3px);
}
