.container {
  margin-top: 10px;
}
.search_inputs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.search_inputs > * {
  margin: 0 10px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
