.data_container {
  height: calc(100vh - 290px);
  overflow-y: scroll;
}
.top_ten_categories {
  padding: 0 20px;
  /* max-width: 1000px; */
}
.total_value {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  padding: 0 20px;
}
.top_ten_categories_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-right: 20px;
  font-weight: 600;
}
.single_top_ten_categories {
  display: grid;
  grid-template-columns: 1fr 100px;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 15px;
  margin: 3px 0;
}
.progress_value {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
