.container {
  /* background-color: var(--theme-page-background-sub); */
  width: 100%;
  height: 100%;
  /* box-shadow: var(--box-shadow); */
  /* padding: 2px 4px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.breadcrumb_create_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_header {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.close_container {
  display: none;
}
.pricing {
  padding-bottom: 100px;
}
