.container {
  /* background-color: var(--theme-page-background-sub); */
  width: 100%;
  height: 100%;
  /* box-shadow: var(--box-shadow); */
  /* padding: 2px 4px; */
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.openSearch {
  display: block;
  margin-bottom: 10px;

}
.closeSearch {
  display: none;
}
.search_btn {
  background-color: var(--theme-page-background-sub);
  width: 100%;
  height: 30px;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search_btn:hover {
    background: linear-gradient(
        118deg,
        #c2bee6,
        rgba(218, 218, 219, 0.7)
      ) !important;
  }
.forMargin{
    margin: 0 10px;
}