.container {
  /* background-color: var(--theme-page-background-sub); */
  width: 100%;
  height: 100%;
  /* box-shadow: var(--box-shadow); */
  /* padding: 2px 4px; */
  position: relative;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
