.container {
    /* background-color: var(--theme-page-background-sub); */
    width: 100%;
    height: 100%;
    /* box-shadow: var(--box-shadow); */
    /* padding: 2px 4px; */
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .name_container{
    width: 100%;
        display: flex;
  }
  .left_margin{
    margin-left: 10px;
}
.area_disabled{
  pointer-events: none;
  opacity: 0.7;
}
.action_btn{
  position: absolute;
  top:-10px;
  right:0;
}
.formContainer{
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  height: calc(100vh - 200px);
  overflow-y: scroll;
  padding: 20px;
  margin-top: 10px;
}
.options > div >h4, .information > div >h4, .pricing >div >h4{
  margin: 0;
  font-weight: 500;
}