
.discount_container{
    display: flex;
    justify-content: space-between;
}
.discount_container_left{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.discount_container_left > * {
    
    margin: 0px 5px;
}
.discount_container_right{
    display: flex;
    align-items: end;
}
.discount_container_right > div{
    margin-bottom: 0 !important;
}
.new_add_btn{
    /* padding: 0 0px !important; */
    padding: 4px 10px;
    padding-bottom: 0px;
    margin: 0 4px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    background: linear-gradient(
      118deg,
      #7367f0,
      rgba(115, 103, 240, 0.7)
    ) !important;
    color: white !important;
  }
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}