.container_general {
    /* background-color: var(--theme-page-background-sub); */
    width: 100%;
    height: 100%;
    /* box-shadow: var(--box-shadow); */
    /* padding: 2px 4px; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .name_container{
    width: 100%;
        display: flex;
  }
  .left_margin{
    margin-left: 10px;
}
.area_disabled{
  pointer-events: none;
  opacity: 0.7;
}