.container {
  width: 100%;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.breadcumb {
  margin: 10px 0;
  transform: translateX(10px);
  align-self: start;
}

.search {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
}

.search > div {
  padding: 10px;
}

.button {
  transform: translateY(25px);
}
