.container {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* padding-bottom: -20vh; */
  height: inherit;
  padding-bottom: 40px;

  /* background-color: black; */
  overflow: hidden;
  /* overflow-y: hidden; */
}

.container::-webkit-scrollbar {
  display: none;
}

.leftContainer {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}
.cardTitle {
  text-transform: capitalize;
  width: 70%;
  text-align: center;
}

.rightContainer {
  width: 65%;
}

.dashboardHeader {
  /* width: 97%; */
  padding: 0 0% 0 1%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.dashboardHeaderLeft {
  font-size: 22px;
  font-weight: 600;
  opacity: 0.6;
}

@media (max-width: 1200px) {
  .leftContainer {
    width: 40%;
  }

  .rightContainer {
    width: 60%;
  }
}

@media (max-width: 991px) {
  .leftContainer {
    width: 100%;
    justify-content: space-between;
  }

  .rightContainer {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}

.cardIcon {
  /* width: 20px; */
  padding: 10px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
@media (max-width: 780px) {
  .cardIcon {
    padding: 7px;
  }
  .cardTitle {
    font-size: 12px;
    line-height: 13px;
  }
  .cardValue {
    font-size: 18px !important;
  }
}

.cardWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: yellow; */
}

.cardValue {
  line-height: 1.2;
  color: #5e5873;
  font-weight: 600 !important;
  font-size: 25px;
  margin-top: 10px;
}

.cardTitle {
  color: #7f7a88;
}

.margin {
  margin-top: 14px;
}
.osAndCpu {
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.cardWrapperAd {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.container_recent_orders {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  padding: 10px 0 0 10px;
}
.submit_button {
  display: flex;
  justify-content: end;
}
