.container {
  height: fit-content;
  position: relative;
}

.label {
  display: grid;
  margin-bottom: 20px;
  height: fit-content;
  width: 100%;
  grid-template-columns: 0.12fr 0.88fr;
}

.label > label {
  color: red;
  transform: translate(0px, -3px);
  margin: 0 4px;
}

.nameInput {
  margin-left: 10px;
}

.inputQuill {
  margin-left: 10px;
  width: 100%;
  margin-bottom: 35px;
}

@media (max-width: 780px) {
  .label {
    grid-template-columns: 1fr;
  }
  .inputQuill {
    margin-bottom: 55px;
  }
}

.checkbox {
  width: fit-content;
}

.Priority {
  width: 400px;
}

.label1 {
  /* margin-left: 30px; */
  margin: 0 0 0 100px;
}
.date_picker {
  max-width: 150px;
}
.button {
  position: absolute;
  top: -50px;
  right: 0;
}
