.container {
  width: 100%;
  /* background-color: white; */
  /* box-shadow: var(--box-shadow); */
  border-radius: 5px;
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  position: relative;
}
.promotion_name {
  font-weight: 500;
}
.action_buttons > * {
  margin: 0 5px;
}
@media screen and (max-width: 410px) {
  .buttonAddCatalog {
    margin-left: auto;
    margin-right: 0;
  }
}
