.tabContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.tabContainer > div.left {
  display: flex;
  width: 100%;
  margin: 10px 0;
  flex-wrap: wrap;
}
.bgColor {
  background: linear-gradient(
    118deg,
    #7367f0,
    rgba(115, 103, 240, 0.7)
  ) !important;
  color: white !important;
}
.button {
  font-size: 16px;
  /* padding: 0 0px !important; */
  padding: 5px 10px;
  margin: 2px 4px;
  border-radius: 6px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.672);
  position: relative;
  background-color: rgb(232, 229, 229);
}
.tab_content_body {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
}
.tab_content_body > div {
  height: calc(100vh - 380px);
  overflow-y: scroll;
}
