.container {
  /* height: 100vh; */
  /* background-color: aquamarine; */
  width: 100%;
  /* display: flex; */
  padding-top: 78px;
  position: relative;
}
/* 
.midContainer::-webkit-scrollbar {
  display: none;
}

.navContain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;

}

.outletContain {
} */

.midContainer {
  /* height: 90vh; */
  overflow: scroll;
  margin-top: 10px;
}

.midContainer::-webkit-scrollbar {
  display: none !important;
}

@media (max-width: 1400px) {
  .container {
    padding-top: 54px;
  }
}
