.section {
  display: flex;
  align-items: end;
}
.section > * {
  margin: 0 3px;
}
.available_rates_container {
  display: flex;
}
.available_rates_container > * {
  margin: 0 5px;
}
.available_rates {
  height: 200px;
  overflow-y: scroll;
}
.available_rates > * {
  margin: 10px 0;
}
