.wrap {
  position: relative;

  /* background-color: brown; */
}
.container {
  overflow: scroll;
  background-color: white;

  border-radius: 5px;
  /* padding: 20px; */
}

.container::-webkit-scrollbar {
  display: none;
}

.title {
  margin: 10px 0;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
}

.section {
  margin: 15px 0;
}

.section > label {
  font-size: 16px;
  font-weight: 400;
}
.section div > div {
  display: flex;
  flex-wrap: wrap;
}
.section div > div > * {
  /* margin-bottom: 10px; */
}
.section_container {
  display: flex;
  flex-wrap: wrap;
}
.section_container > * {
  margin: 0 10px;
}
