.container {
    /* background-color: var(--theme-page-background-sub); */
    width: 100%;
    height: 100%;
    /* box-shadow: var(--box-shadow); */
    /* padding: 2px 4px; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .tabContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .tabContainer > div.left{
    display: flex;
    width: 100%;
    margin: 10px 0;
  }
  .new_add_btn{
    font-size: 16px;
    /* padding: 0 0px !important; */
    padding: 5px 10px;
    padding-bottom: 0px;
    margin: 0 4px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    background: linear-gradient(
      118deg,
      #7367f0,
      rgba(115, 103, 240, 0.7)
    ) !important;
    color: white !important;
  }
  .bgColor {
    background: linear-gradient(
      118deg,
      #7367f0,
      rgba(115, 103, 240, 0.7)
    ) !important;
    color: white !important;
  }
  
  .button {
    font-size: 16px;
    /* padding: 0 0px !important; */
    padding: 5px 10px;
    margin: 0 4px;
    border-radius: 6px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.672);
    position: relative;
    background-color: rgb(232, 229, 229);
  }
  .variant_list_item{
    
  }