.container {
  width: 100%;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}
.containerWrapper {
  position: relative;
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0;
}

.search {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
}

.search > div {
  padding: 10px;
}

.button {
  transform: translateY(25px);
}
.icon {
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.icon:hover {
  background-color: rgba(128, 128, 128, 0.471);
  color: rgba(0, 0, 255, 0.572);
}

@media screen and (max-width: 410px) {
  .createProductBundle {
    margin-left: auto;
    margin-right: 0;
  }
}
