@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.light {
  --theme-page-background: #f6f6f6;
  --theme-page-background-sub: #ffffff;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --border-radius: 4px;
  --top-padding: 70px;
  --primary-color: #9b78ec;
  --primary-color-light: #c4b1f385;
}

.dark {
  --theme-page-background: #111;
}

.container {
  background-color: var(--theme-page-background);
  color: var(--theme-page-text);
  height: 100vh;
  width: 100%;
  overflow: hidden !important;
}

/* .container::-webkit-scrollbar {
  display: none !important;
} */

@media (max-width: 1400px) {
  .container {
    padding-bottom: 80px;
  }
}

body {
  margin: 0 !important;
  font-family: "Inter", sans-serif;
  height: 100vh;
  overflow: hidden;
}
body::-webkit-scrollbar {
  display: none !important;
}

.app {
  /* width: 100%; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 70px; */
}

@media (min-width: 576px) {
  .app {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .app {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .app {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .app {
    max-width: 94%;
  }
}

@media (min-width: 1600px) {
  .app {
    max-width: 95%;
  }
}
