.container {
  margin-top: 10px;
}
.search_inputs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.search_inputs > div {
  margin-right: 10px;
  margin-bottom: 0;
}
.price_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-top: 8px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.search_btn {
  margin-top: 25px;
}
