.wrap {
  position: relative;
  height: 70vh;

  /* background-color: brown; */
}
.container {
  overflow: scroll;
  background-color: white;

  border-radius: 5px;
  padding: 20px;
}

.container::-webkit-scrollbar {
  display: none;
}

.title {
  margin: 10px 0;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
}

.section {
  width: 100%;
  margin: 15px 0;
  display: grid;
  grid-template-columns: 150px 1fr;
}

.section > label {
  font-size: 16px;
  font-weight: 500;
}
.section div > div {
  display: flex;
  flex-wrap: wrap;
}
.section div > div > * {
  /* margin-bottom: 10px; */
}
